.log-in{
  margin-top: 10rem;
      color: white;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
      margin-left: 5px;
      margin-right: 5px;
      background-color: rgb(196, 193, 193);
      border-radius: 2.5px;
      padding: 1px 10px;
}


  /* .add-dream-btn,
  .view-dream-btn{
    text-align: center;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 2.5px;
    background-color: grey;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
    color: white;
    justify-content: center;
  } */

    .view-dream-btn {
      margin-left: 3rem;
  }


  .button-container{
    margin: 2rem;
    padding-top: 40px;

  }
  


  .space-between-buttons{
    /* margin: 0 8rem; */
    border-left: 1px solid rgb(102, 101, 101);
    height: 30px;
  }

  .justified-text {
    margin: 0 32rem;
    text-align: justify;
    color: rgb(68, 65, 65);

  }

  #welcome{
    padding-top: 40px;
  }

  a{
    font-size: 20px;
  }

  .padding-top{
    padding-top: 40px;
  }

  .center-video{
    display: flex;
    margin: 0 auto;
    width: 720px;
    border: 3px 3px 3px solid grey;
  }

  .below-video-hr{
    margin: 0 auto;
    margin-top: 2rem;
  }

  .hr-hr{
    margin: 0 auto;
  }