.log-in{
  margin-top: 10rem;
      color: white;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
      margin-left: 5px;
      margin-right: 5px;
      background-color: rgb(196, 193, 193);
      border-radius: 2.5px;
      padding: 1px 10px;
}


  .view-dream-btn {
    margin-left: 3rem;
}

.button-container{
  margin: 1.5rem;
  padding-top: 10px;

}
  


.space-between-buttons{
  /* margin: 0 8rem; */
  border-left: 1px solid rgb(102, 101, 101);
  height: 30px;
}

.justified-text {
  margin: 0 32rem;
  text-align: justify;
  color: rgb(68, 65, 65);

}

a{
  font-size: 20px;
}

.padding-top{
  padding-top: 40px;
}

.center-video{
  display: flex;
  margin: 2rem auto;
  padding: 0rem;
  width: 720px;
  height: 200;
  border: 4px solid rgba(89, 119, 163, 0.281);
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.616);
  border-radius: 0.5rem;
}

.below-video-hr{
  margin: 0 auto;
}

.hr-hr{
  margin: 0 auto;
}

.user-page-greeting{
  text-align: justify;
  margin: 0 32rem;
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}
