.log-in{
  margin-top: 10rem;
      color: white;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
      margin-left: 5px;
      margin-right: 5px;
      background-color: rgb(196, 193, 193);
      border-radius: 2.5px;
      padding: 1px 10px;
}


  .add-dream-btn,
  .view-dream-btn{
    text-align: center;
    border: 1px solid rgb(68, 68, 68);
    /* width: 20px;
    height: 10px; */
    padding: 2px 30px;
    border-radius: 2.5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: grey;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
    color: white;
    justify-content: center;
  }

    .view-dream-btn {
      margin-left: 8rem;
  }


  .container{
    margin: 2rem;
  }
  
hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 2px solid #ccc;
  padding: 0;
  margin: 0 3rem;
}