.justified-text{
    text-align: justify;
    color: rgb(68, 65, 65);

}



.box-container{
    margin: 0 35rem;
    padding: 1rem 10px;
    text-align: justify;
    background-color: rgba(0, 128, 128, 0.212);
    border-radius: 0.3rem;
}

.quote-button{
    align-content: center;
    margin: 0 auto;
}

.quote-text{
    color: rgb(105, 102, 102);
    margin: 0.3rem 2rem;
}

.quote-author{
    margin: 1rem 2rem;
    margin-bottom: 1rem;
}

.QOTD-header{
    margin: 0px;
}