.justified-text{
    text-align: justify;
    color: rgb(68, 65, 65);

}



.box-container{
    margin: 0 35rem;
    margin-top: 5rem;
    padding: 1rem 10px;
    text-align: justify;
    border-radius: 0.3rem;
}


.quote-text{
    color: rgb(105, 102, 102);
    margin: 0rem 2rem;
    text-align: justify;
}

.quote-author{
    margin: 1rem 2rem;
    margin-bottom: 5rem;
}


.quote-header{
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
    color: rgb(78, 80, 80);
}

.second-quote-hr{
    margin-bottom: 0.5rem;
}

.quote-hr{
    margin-top: 1rem;
}
