
/* ------------------------------------- ADD DREAM CSS  -------------------------------------*/

/* .center-button, */
/* .view-dream-btn, */
.submit-dream-btn {
    text-align: center;
    float: right;
    margin-right: 15rem;
    margin-left: 15rem;
    position: relative;
} 


/* footer{
    margin-top: 80px;
} */

/* .dream-input-box{
    width: 20rem;
} */

/* .center{
        display: flex;
        justify-content: center;
        align-items: center;
} */

/* .add-dream-div{
    margin-left: 18rem;
}  */


.dropdown {
    width: 25rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px rgba(122, 121, 122, 0.338);
}

.sub-heading {
    text-align: center;
    color: grey;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(128, 128, 128, 0.514);
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    margin: 0 3rem;
}

.form-control-start{
    margin: 3rem 33%;
}


.container {
    background-image: url("/background.jpg");
}


/* ------------------------------------- ADD DREAM CSS  -------------------------------------*/
