
/* ------------------------------------- ADD DREAM CSS  -------------------------------------*/


.center-button,
.view-dream-btn,
.submit-dream-btn {
    text-align: center;
    float: right;
    margin-right: 15rem;
    margin-left: 15rem;
    position: relative;
}


footer{
    margin-top: 80px;
}

.dream-input-box{
    width: 100px;
}

.center{
        display: flex;
        justify-content: center;
        align-items: center;
}

.add-dream-div{
    margin-left: 18rem;
}





/* ------------------------------------- ADD DREAM CSS  -------------------------------------*/
