/* .center-div {
    margin: 3rem 33%;
} */

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    margin: 0 3rem;
}

.dream-container{
  margin: 0 0 30px;
}

.space-between-buttons{
margin: 1rem 8rem;
}

.margin-bottom{
  margin-bottom: 2rem;
}