/* .background-photo {
background: url(color-block.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
} */

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    margin: 0 3rem;
}

.dream-container{
  margin: 0 0 30rem;
  text-align: justify;
}

.space-between-buttons{
margin: 1rem 8rem;
}

.margin-bottom{
  margin-bottom: 2rem;
}

p{
  text-align: justify;
  margin: 0 10rem;
}

.margin-text{
  margin: 0 7rem;
}