
hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    margin: 0 3rem;
}

.dream-container{
  margin: 0 0 30rem;
  text-align: justify;
}

.space-between-buttons{
margin: 1rem 8rem;
}

.margin-bottom{
  margin-bottom: 2rem;
}

.justified-text-dream-details {
  text-align: justify;
  margin: 0 20rem;
  margin-bottom: 2rem;
}

.margin-text{
  margin: 0 7rem;
}

img{
    border: 0.5rem solid rgba(119, 118, 116, 0.185);
    border-radius: 0.28rem;
}

.date-margin{
  margin-top: 0;
  font-style: italic;
  padding-top: 0rem;
}

.date-title{
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.title-margin{
  padding-top: 40px;
}