.center-div{
    margin: 3rem 33%;
}

img{
    width: 500px;
    height: 300px;
    border-radius: 25px;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    margin: 0 3rem;
}

.sub-heading{
    text-align: center;
    color: grey;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(128, 128, 128, 0.514);
}