.center-div{
    margin: 0 10rem;
}

img{
    width: 500px;
    height: 300px;
    border-radius: 25px;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}


.sub-heading{
    text-align: center;
    color: grey;
    font-size: 2rem;
    text-shadow: 4px 4px 4px rgba(128, 128, 128, 0.514);
}

.card-layout{
    position: inline-block;
}

.MuiGrid-root, .MuiGrid-item {
    padding: 0;
}

.space-between-buttons {
    margin: 1rem 8rem;
}

.update-button{
    width: 5rem;
}