.about-page-container {
  margin: 0 20rem;
  padding-top: 40px;
  border-radius: 0.1rem;
}

h1{
    color: grey;
}

p{
  padding: 0;
  color: rgb(95, 93, 93);
}

 .about-page-justified {
    text-align: justify;
    margin: 0 15rem;
  }

  .about-video{
    margin: 0 auto;
    width: 655px;
    border: 3px solid rgba(180, 176, 176, 0.411);
  }